.item{
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #5f6368;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    max-height: 48px;
    min-height: 48px;
    outline: 0!important;
    padding-left: 18px;
    padding-right: 18px;
    white-space: nowrap;
}
#navbarMenu{
    text-align: center;
}
/*Slides*/
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background-repeat: no-repeat scroll center scroll;
    background-size: cover;
}
